# ==========================
# IntelliJ IDEA
# ==========================
.idea/

# Arquivos de módulos (opcional)
# Remova o comentário se você usar Maven ou Gradle
# *.iml

# ==========================
# Java
# ==========================
out/
*.class

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.bak
*.swp

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# macOS
# ==========================
.DS_Store